@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.title_app {
  font-family: 'Inter'!important;
  font-weight: 700!important;
}
body {
  font-family: Inter!important;
  margin: 0;
  color: #9CA39A!important;
  padding: 0;
  background-color: #111827!important;
}

button {
  border: none!important;
}