.modal-dialog .modal-content {
background-color: #111827!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-close {
    color: #9CA39A!important;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}

.modal-content input {
    background: #374151;
    border: #9CA39A;
    color: #9CA39A;
}

.modal-content input:disabled {
    background-color: #374151;
}

.modal-content input::placeholder {
    color: #9CA39A;
}

.modal-content input:focus {
    background-color: #374151;
    color: #9CA39A;
}
